PORT=5000

MONGO_URI=

JWT_SECRET=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

EMAIL=
EMAIL_PASSWORD=

CLIENT_URL=http://localhost:5173
POSTGRES_DB=expense_tracker
POSTGRES_USER=expense_user
POSTGRES_PASSWORD=